<div class="form">
    <% if(formSubject == "Message"){ %>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSezoutte7mi-NhRIIp_O2ek0UPhNQKDC2dAyvaWFBBYmZsbSA/viewform?embedded=true" width="100%" height="1175" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <% } %>
    <% if(formSubject == "Review"){ %>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSc-bN7VdP1LOWUnazqb4vgyaiKQgasPCcdSqEKXnWFXmQo9cA/viewform?embedded=true" width="100%" height="1300" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <% } %>
    <% if(formSubject == "Suggestion"){ %>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfMgfq8TuE06M9C7GrSLv_c8_YfYE0G1sus7ba_WfnruAtN6w/viewform?embedded=true" width="100%" height="1275" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <% } %>
    <% if(formSubject == "Bug Report"){ %>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeArrSGGDj7cAHisxq6T3vepAq6ufSl0Ex-SeXu0oaIC1-gcQ/viewform?embedded=true" width="100%" height="1275" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <% } %>
    <% if(formSubject == "Disrespectful Language Report"){ %>
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSddZ6xKg6bL89IRuJUxnuwCRlT3T5HE9h73E4fv1FiqsjfrFA/viewform?embedded=true" width="100%" height="1175" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    <% } %>
</div>
<br>
<a href="javascript:history.back()" class="button button-ncta" onclick="outro()">Back</a>