<div id="anrawTimeDiv">
    <h2>Please understand</h2>
    <br>
    <p>Our time zone may be different, currently in Western Indonesia Time is</p>
    <h3 id="anrawTime"></h3>
    <p>Your email will be read in the morning</p>
</div>