<footer>
    <div class="social">
        <p>Copyright 2021 <a href="https://github.com/Fadhil1502" target="blank"><span translate="no">Said Ahmad Fadhilah</span></a>. All Rights Reserved</p>
        <div>
            <a href="https://www.instagram.com/fadhil_1502_" target="blank"><button class="button button-lcta" style="font-size: var(--lessreadble-font-size);">@fadhil_1502_</button></a>
            <a href="https://www.instagram.com/anraw_palette" target="blank"><button class="button button-lcta" style="font-size: var(--lessreadble-font-size);">@anraw_palette</button></a>
        </div>
    </div>
    <br>
    <a href="/pr/version/v1" class="version" onclick="outros()">v_1.1.0</a>
</footer>