<header>
    <nav class="header">
        <div class="main-logo">
            <a href="/" onclick="outro()">
                <svg width="50" height="50" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg" style="cursor: default;">
                    <circle cx="125" cy="125" r="125" fill="var(--background)"/>
                    <circle cx="32.8947" cy="32.8947" r="32.8947" fill="var(--background-white)"/>
                    <circle cx="32.8947" cy="125" r="32.8947" fill="var(--background-orange)"/>
                    <circle cx="32.8947" cy="217.105" r="32.8947" fill="var(--background-orange)"/>
                    <circle cx="125" cy="32.8947" r="32.8947" fill="var(--background-orange)"/>
                    <circle cx="125" cy="125" r="32.8947" fill="var(--background-orange)"/>
                    <circle cx="125" cy="217.105" r="32.8947" fill="var(--background-white)"/>
                    <circle cx="217.105" cy="32.8947" r="32.8947" fill="var(--background-white)"/>
                    <circle cx="217.105" cy="125" r="32.8947" fill="var(--background-orange)"/>
                    <circle cx="217.105" cy="217.105" r="32.8947" fill="var(--background-orange)"/>
                    <path d="M213.775 214.339H209.855V225H207.219V214.339H203.352V212.203H213.775V214.339ZM218.732 212.203L222.02 221.484L225.289 212.203H228.752V225H226.106V221.502L226.37 215.464L222.916 225H221.105L217.66 215.473L217.924 221.502V225H215.287V212.203H218.732Z" fill="var(--background)"/>
                </svg>                    
            </a>
            <a href="/" class="header-title" onclick="outro()">Anraw</a>
        </div>
        <ul>
            <li><a class="button button-cta" href="/generate" onclick="outro()">Generate</a></li>
            <li><a class="button button-cta" href="/gallery" onclick="outro()">Gallery</a></li>
        </ul>
    </nav>
</header>