<header>
    <nav>
        <a href="/">Anraw</a>
        <ul>
            <li><a href="/generate">Generate</a></li>
            <li><a href="/gallery">Gallery</a></li>
        </ul>
    </nav>
</header>