<header>
    <nav class="header">
        <div class="main-logo">
            <a href="/" onclick="outro()">
                <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="25" cy="25" r="25" fill="#0D0D0D"/>
                    <circle cx="6.57895" cy="6.57895" r="6.57895" fill="white"/>
                    <circle cx="6.57895" cy="25.0001" r="6.57895" fill="#FF9500"/>
                    <circle cx="6.57895" cy="43.421" r="6.57895" fill="#FF9500"/>
                    <circle cx="25" cy="6.57895" r="6.57895" fill="#FF9500"/>
                    <circle cx="25" cy="25.0001" r="6.57895" fill="#FF9500"/>
                    <circle cx="25" cy="43.421" r="6.57895" fill="white"/>
                    <circle cx="43.4211" cy="6.57895" r="6.57895" fill="white"/>
                    <circle cx="43.4211" cy="25.0001" r="6.57895" fill="#FF9500"/>
                    <circle cx="43.4211" cy="43.421" r="6.57895" fill="#FF9500"/>
                </svg>
            </a>
            <a href="/" class="header-title" onclick="outro()">Anraw</a>
        </div>
        <ul>
            <li><a class="button button-cta" href="/generate" onclick="outro()">Generate</a></li>
            <li><a class="button button-cta" href="/gallery" onclick="outro()">Gallery</a></li>
        </ul>
    </nav>
</header>