<header>
    <nav class="header">
        <div class="main-logo">
            <a href="/"><img src="logo.png"></a>
            <a href="/" class="header-title">Anraw</a>
        </div>
        <ul>
            <li><a class="button button-cta" href="/generate">Generate</a></li>
            <li><a class="button button-cta" href="/gallery">Gallery</a></li>
        </ul>
    </nav>
</header>