<div id="loading">
    <svg width="100" height="100" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg" style="cursor: default;" class="logo">
        <circle cx="125" cy="125" r="125" fill="var(--background)"/>
        <circle cx="32.8947" cy="32.8947" r="32.8947" fill="var(--background-white)" class="ball"/>
        <circle cx="32.8947" cy="125" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="32.8947" cy="217.105" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="125" cy="32.8947" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="125" cy="125" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="125" cy="217.105" r="32.8947" fill="var(--background-white)" class="ball"/>
        <circle cx="217.105" cy="32.8947" r="32.8947" fill="var(--background-white)" class="ball"/>
        <circle cx="217.105" cy="125" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="217.105" cy="217.105" r="32.8947" fill="var(--background-orange)"/>
    </svg>
    <h1 style="margin: var(--margin-small); color: var(--font-color);">Anraw</h1>
</div>