<div class="notFound" id="notFound">
    <h1>~ 404 ~</h1>
    <br>
    <svg width="250" height="250" viewBox="0 0 250 250" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="125" cy="125" r="125" fill="var(--background)"/>
        <circle cx="32.8947" cy="32.8947" r="32.8947" fill="var(--background-white)"/>
        <circle cx="32.8947" cy="125" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="32.8947" cy="217.105" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="125" cy="32.8947" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="125" cy="125" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="125" cy="217.105" r="32.8947" fill="var(--background-white)"/>
        <circle cx="217.105" cy="32.8947" r="32.8947" fill="var(--background-white)"/>
        <circle cx="217.105" cy="125" r="32.8947" fill="var(--background-orange)"/>
        <circle cx="217.105" cy="217.105" r="32.8947" fill="var(--background-orange)"/>
    </svg>
    <br>
    <h2>Page not found</h2>
    <p>Oops! Look like you're missing, but don't worry we'll send you back to home</p>
    <br>
    <a href="/" class="button button-cta" onclick="outro()">Go to home</a>
</div>