<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Anraw is a color palette generator equipped with artificial intelligence designed to help you create or choose the best color palette">
        <meta name="keywords" content="anraw, color, palette, generator, color generator, palette generator, generate color, generate palette, color set, palette set, color palette generator, generate color palette, color palette set">
        <meta name="author" content="Said Ahmad Fadhilah">
        <meta name="theme-color" content="#ff9500">
        <title><%= page %>Anraw</title>
        <link rel="icon" href="/images/logo_192.png">
        <link rel="stylesheet" href="/stylesheet/main.css">
        <link rel="canonical" href="https://anraw.herokuapp.com">
        <link rel="manifest" href="/manifest.json">
        <link rel="apple-touch-icon" href="images/logo_192.png">
        <script src="/script.js" defer></script>
    </head>
    <body>
        <%- include('../partials/errorMessage.ejs') %>
        <div class="container" id="container">
            <%- include('../partials/loading.ejs') %> 
            <%- body %>
        </div>
    </body>
</html>