@import url('shared/variable.css');
@import url('shared/button.css');
@import url('shared/header.css');
@import url('shared/footer.css');
@import url('shared/palette.css');
@import url('shared/generate.css');
@import url('shared/save.css');
@import url('shared/post.css');
@import url('shared/gallery.css');
@import url('shared/publicRelation.css');

@keyframes loadingL{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes loadingB{
    0%{
        fill: hsl(var(--hue), 100%, 100%);
    }
    25%{
        fill: hsl(calc(var(--hue) - 120), 100%, 50%);
    }
    50%{
        fill: hsl(var(--hue), 100%, 50%);
    }
    75%{
        fill: hsl(calc(var(--hue) + 120), 100%, 50%);
    }
    100%{
        fill: hsl(var(--hue), 100%, 100%);
    }
}
@keyframes loadingT{
    0%{
        color: hsl(var(--hue), 100%, 100%);
    }
    25%{
        color: hsl(calc(var(--hue) - 120), 100%, 50%);
    }
    50%{
        color: hsl(var(--hue), 100%, 50%);
    }
    75%{
        color: hsl(calc(var(--hue) + 120), 100%, 50%);
    }
    100%{
        color: hsl(var(--hue), 100%, 100%);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: default;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: var(--background);
    color: var(--font-color);
    font-size: var(--font-size);
    overflow: hidden;
}

h1{
    font-size: var(--main-title-font-size);
    color: var(--highlight-font-color);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h2{
    font-size: var(--title-font-size);
}

::-webkit-scrollbar{
    width: 12.5px;
}

::-webkit-scrollbar-thumb{
    border-radius: 25px;
    background: var(--background-orange);
}

::-webkit-scrollbar-thumb:hover{
    background: var(--background-white);
}

::-webkit-scrollbar-track{
    background: hsl(var(--hue), 0%, 7.5%);
}

::-webkit-input-placeholder{
    color: var(--background);
}

input:focus, select, textarea{
    outline: none;
}
  
#loading{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, var(--background-orange), var(--background));
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.logo{
    animation: loadingL 5s ease-in-out infinite 1s;
}

.ball{
    animation: loadingB 5s ease-in-out infinite 1s;
}

#loading h1{
    animation: loadingT 5s ease-in-out infinite 1s;
}

#outros{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom right, var(--background-orange), var(--background));;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    opacity: 0%;
    transition: 1s;
}

.container{
    margin: var(--margin-mega);
}

section{
    width: 100%;
    padding: 25px 0px;
    background: var(--background);    
}

section:nth-child(odd){
    text-align: right;
    background: hsl(var(--hue), 0%, 7.5%);
    padding: 25px;
    border-radius: 25px;
}

.opening{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opening .content{
    width: 50%;
}

.opening .content:nth-child(1) button{
    width: 100%;
    max-width: 750px;
    height: 75px;
}

.opening .content:nth-child(2){
    display: flex;
    align-items: center;
    flex-direction: column;
}

.review .review-content{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: scroll;
}

.review .palette{
    max-width: 50%;
    color: var(--background);
}

.review .colors{
    flex-direction: column;
    padding: 25px;
    font-size: var(--lessreadble-font-size);
    text-align: left;
}

.review .colors button{
    font-size: var(--lessreadble-font-size);
}

.info-generate .step:nth-child(even){
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.info-generate .step div{
    display: flex;
    align-items: center;
}

.info-generate .step a, .info-save div p a{
    text-decoration: none;
    color: var(--highlight-font-color);
    cursor: pointer;
}

.info-generate .step a:hover, .info-save div p a:hover{
    color: var(--highlight-font-color-hover);
}

.info-save svg, .info-save path{
    cursor: pointer;
}

.info-save div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
}

.info-save input{
    width: calc(100% - 50px);
    height: 50px;
    background: var(--background-orange);
    border: none;
    border-radius: 25px 0 0 25px;
    font-size: var(--font-size);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--font-color);
    padding: 0 25px;
    cursor: text;
}

.info-save button{
    width: 50px;
    height: 50px;
    padding: 12.5px;
    border-radius: 0 25px 25px 0;
}

.pr .options{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.pr .options div{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pr .options div a{
    width: 150px;
    height: 150px;
    background: var(--background-white);
    border-radius: 25px;
    margin: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: var(--background);
    box-shadow: 0 5px 5px var(--background);
    cursor: pointer;
}

.pr .options div a svg, .pr .options div a path, .pr .options div a g, .pr .options div a circle, .pr .options div a p{
    cursor: pointer;
    transition: 0.25s;
}

.pr .options div a:hover svg{
    width: 75px;
    height: 75px;
}

.pr .options div a:hover p{
    font-size: var(--lessreadble-font-size);
}

@media print{
    body{
        background: white;
    }

    .save .head, .save .setting{
        display: none;
    }

    .container{
        margin: 0px;
    }

    .save .preview{
        width: 100vw;
        height: auto;
        margin: var(--margin-small) auto;
    }
}

@media (max-width: 1024px){
    :root{
        --main-title-font-size: 36px;
        --title-font-size: 24px;
        --font-size: 18px;
        --lessreadble-font-size: 14px;
        --margin-mega: 25px;
        --margin-super: 12.5px;
        --margin-small: 6.75px;
    }

    header{
        margin: -25px 0 var(--margin-super) -25px;
    }
    
    #loading svg{
        width: 75px;
        height: 75px;
    }

    header svg, .gallery .GSVG{
        width: 37.5px;
        height: 37.5px;
    }

    .opening .content .palette .settings div div a svg, .review .review-content .palette .settings div div svg, .post #settings div a svg, .gallery .palette .settings div div a svg{
        width: 18.25px;
        height: 18.25px;
    }

    footer{
        margin: var(--margin-super) 0 -25px -25px;
    }

    .button-cta-ball:hover{
        background: var(--cta-button);
    }

    .button-lcta-ball:hover{
        background: var(--ncta-button);
        border: 1px solid var(--cta-button);
    }

    .button-ncta-ball:hover{
        background: var(--ncta-button);
    }


    .generate .finish-color .input-color div,.generate .finish-color .input-color + .color-setting ,.generate .finish-color #finishInput div, .generate .finish-color #finishInput + .color-setting, .generate .finish-color:hover .input-color div, .generate .finish-color:hover .input-color + .color-setting, .generate .finish-color:hover #finishInput div, .generate .finish-color:hover #finishInput + .color-setting{
        opacity: 100%;
    }

    .generate .random:hover{
        letter-spacing: normal;
    }

    .save .setting{
        width: 225px;
    }

    .save .head{
        height: 100px;
    }

    .save .head p{
        right: 37.5px;
        top: 37.5px;
    }

    .save .preview{
        width: calc(100% - 225px);
    }
    
    .save .body{
        padding-top: 25px;
    }

    .save .option:hover{
        border-radius: 5px;
        background: var(--background);
    }

    .post .candidate-post{
        width: 500px;
    }

    .post .candidate-setup{
        width: 500px;
        flex-direction: column;
    }

    .post .candidate-setup .div{
        width: 250px;
    }

    .post .setup:hover{
        border-radius: 5px;
        background: var(--background);
    }

    .post form button{
        width: 500px;
        height: 50px;
    }

    .gallery .must:hover{
        border-radius: 5px;
        background: var(--background-orange);
    }

    .public-relation form .suggest:hover{
        background: var(--background);
    }
}

@media (max-width: 525px){
    :root{
        --main-title-font-size: 24px;
        --title-font-size: 18px;
        --font-size: 14px;
        --lessreadble-font-size: 13px;
        --margin-mega: 12.5px;
        --margin-super: 6.75px;
        --margin-small: 3.375px;
    }

    header{
        width: 100vw;
        margin: -12.5px 0 var(--margin-super) -12.5px;
    }
    
    #loading svg{
        width: 50px;
        height: 50px;
    }

    header svg, .gallery .GSVG{
        width: 25px;
        height: 25px;
    }

    .opening .content .palette .settings div div a svg, .review .review-content .palette .settings div div svg, .post #settings div a svg, .gallery .palette .settings div div a svg{
        width: 12.5px;
        height: 12.5px;
    }

    footer{
        width: 100vw;
        margin: var(--margin-super) 0 -12.5px -12.5px;
    }

    .opening, .info-generate .step div, footer .social, .generate .Pmain-color{
        flex-direction: column;
    }

    .info-generate .step:nth-child(even) div, .info-save .DIS, .save .body{
        flex-direction: column-reverse;
    }

    .opening .content{
        width: 100%;
        margin: var(--margin-small);
    }

    .opening .content:nth-child(1) button{
        height: 50px;
    }

    .review .palette{
        max-width: 100%;
    }

    .info-generate .step div img{
        width: 100%;
    }

    .info-save .DIS img{
        width: 50%;
    }

    .pr .options div a, .public-relation .service div a, .public-relation .blog .version a{
        width: 75px;
        height: 75px;
    }

    .pr .options div a p, .public-relation .service div a p{
        display: none;
    }

    .save .setting, .save .preview{
        width: 100%;
    }

    .save .setting{
        height: 50vh;
        margin-top: 0;
        position: relative;
        top: 0;
    }

    .save .preview{
        min-height: 50vh;
        height: fit-content;
    }

    .save .head{
        height: 75px;
    }

    .save .head p{
        right: 25px;
        top: 25px;
    }

    .save .input-save-hex{
        width: 75px;
    }

    .save .input-save{
        width: 50px;
    }

    .save .choice{
        width: 100%;
        text-align: center;
    }

    #saveN a button{
        width: 250px;
        height: 50px;
    }

    #saveN .form input{
        width: 250px;
    }

    .post .candidate-post{
        width: 100%;
    }

    .post .candidate-setup{
        width: 100%;
    }

    .post form button{
        width: 250px;
    }
}