<%- include('./partials/header.ejs') %>
<h1>Welcome to Anraw</h1>
<p>Anraw is a color generator that help you<br>to make color palette for your design</p>
<a href="/generate"><button>Start Generate</button></a>
<a href="/gallery"><button>See Others Color Palette</button></a>
<p>Copyright 2021 <a href="https://www.instagram.com/fadhil_1502_" target="blank">Said Ahmad Fadhiah</a>. All Rights Reserved</p>
<a href="https://www.instagram.com/fadhil_1502_" target="blank"><button>@fadhil_1502_</button></a>
<a href="https://www.instagram.com/anraw_palette" target="blank"><button>@anraw_palette</button></a>