<%- include('./partials/header.ejs') %>
<div class="main">
    <div>
        <h1 class="title">Welcome to Anraw</h1>
        <br>
        <p>Anraw is a color generator that help you<br>to make color palette for your design</p>
        <br>
        <a href="/generate"><button  class="button button-cta" style="width: 100%; height: 75px; margin-bottom: 12.5px;">Start Generate</button></a>
        <a href="/gallery"><button class="button button-lcta" style="width: 100%; height: 75px; margin-top: 12.5px;">See Others Color Palette</button></a>
    </div>
    <div class="fast-feature">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>
<div class="foot">
    <p>Copyright 2021 <a href="https://github.com/Fadhil1502" target="blank">Said Ahmad Fadhiah</a>. All Rights Reserved</p>
    <div>
        <a href="https://www.instagram.com/fadhil_1502_" target="blank"><button class="button button-lcta">@fadhil_1502_</button></a>
        <a href="https://www.instagram.com/anraw_palette" target="blank"><button class="button button-lcta" style="margin-left: var(--margin-small);">@anraw_palette</button></a>
    </div>
</div>