<%- include('./partials/header.ejs') %>
<section class="opening">
    <div class="content">
        <h1>Generate the best color palette for you</h1>
        <br>
        <p>Anraw is equipped with artificial intelligence designed to help you create or choose the best color palette</p>
        <br>
        <a href="/generate" onclick="outros()"><button class="button button-cta">Start generate</button></a>
        <br>
        <br>
        <a href="/gallery" onclick="outros()"><button class="button button-lcta">See others color palette</button></a>
    </div>
    <div class="content">
        <div class="palette" id="example" style="width: calc(100% - 25px);">
            <div class="colors" id="exampleColors"></div>
            <div class="settings">
                <div style="cursor: default; height: 50px; overflow: hidden;">
                    <input type="text" value="Example 0" id="exampleTitle" readonly>                
                    <br>
                    <input type="text" value="Created by Anraw" readonly class="creator">
                </div>
                <div style="display: flex;">
                    <div><a href="https://instagram.com/anraw_palette" target="blank"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="var(--background)" d="M12.48 6.0675C8.93999 6.0675 6.05999 8.9475 6.05999 12.4875C6.05999 16.0275 8.93999 18.905 12.48 18.905C16.02 18.905 18.8975 16.025 18.8975 12.4875C18.9 8.9475 16.02 6.0675 12.48 6.0675ZM12.48 16.4575C10.29 16.4575 8.50999 14.6775 8.50999 12.4875C8.50999 10.2975 10.29 8.5175 12.48 8.5175C14.67 8.5175 16.45 10.2975 16.45 12.4875C16.45 14.6775 14.67 16.4575 12.48 16.4575ZM17.7275 0.125H7.23249C3.30999 0.125 0.117493 3.3175 0.117493 7.24V17.735C0.117493 21.6575 3.30999 24.85 7.23249 24.85H17.7275C21.65 24.85 24.8425 21.6575 24.8425 17.735V7.24C24.8425 3.3175 21.6525 0.125 17.7275 0.125ZM22.395 17.735C22.395 20.3075 20.3 22.4 17.7275 22.4H7.23249C4.65999 22.4 2.56749 20.3075 2.56749 17.735V7.24C2.56749 4.6675 4.65999 2.575 7.23249 2.575H17.7275C20.3 2.575 22.3925 4.6675 22.3925 7.24V17.735H22.395ZM18.9875 4.2125C18.0625 4.2125 17.3075 4.965 17.3075 5.8925C17.3075 6.8175 18.06 7.5725 18.9875 7.5725C19.9125 7.5725 20.6675 6.82 20.6675 5.8925C20.6675 4.965 19.9125 4.2125 18.9875 4.2125Z"/></svg></a></div>
                    <div><a href="/save" onclick="setTempData()" id="exampleSave" onclick="outros()"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background)"><g><rect fill="none" height="25" width="25"/></g><g><path d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z"/></g></svg></a></div>
                </div>
            </div>
        </div>
        <button class="button button-ncta" onclick="generateExample()">Next</button>
    </div>
</section>
<section class="review">
    <h2>What they are say</h2>
    <br>
    <div class="review-content">
        <div class="palette">
            <div class="colors">
                <p>So far no one has given a review to Anraw, want to be the first?</p>
                <a href="/pr/give/review" onclick="outros()"><button class="button button-cta">Give review</button></a>
            </div>
            <div class="settings">
                <div style="cursor: default; height: 50px; overflow: hidden;">
                    <input type="text" value="" readonly>                
                    <br>
                    <input type="text" value="From Anraw" readonly class="creator">
                </div>
                <div style="display: flex;">
                    <div><a href="https://instagram.com/anraw_palette" target="blank"><svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill="var(--background)" d="M12.48 6.0675C8.93999 6.0675 6.05999 8.9475 6.05999 12.4875C6.05999 16.0275 8.93999 18.905 12.48 18.905C16.02 18.905 18.8975 16.025 18.8975 12.4875C18.9 8.9475 16.02 6.0675 12.48 6.0675ZM12.48 16.4575C10.29 16.4575 8.50999 14.6775 8.50999 12.4875C8.50999 10.2975 10.29 8.5175 12.48 8.5175C14.67 8.5175 16.45 10.2975 16.45 12.4875C16.45 14.6775 14.67 16.4575 12.48 16.4575ZM17.7275 0.125H7.23249C3.30999 0.125 0.117493 3.3175 0.117493 7.24V17.735C0.117493 21.6575 3.30999 24.85 7.23249 24.85H17.7275C21.65 24.85 24.8425 21.6575 24.8425 17.735V7.24C24.8425 3.3175 21.6525 0.125 17.7275 0.125ZM22.395 17.735C22.395 20.3075 20.3 22.4 17.7275 22.4H7.23249C4.65999 22.4 2.56749 20.3075 2.56749 17.735V7.24C2.56749 4.6675 4.65999 2.575 7.23249 2.575H17.7275C20.3 2.575 22.3925 4.6675 22.3925 7.24V17.735H22.395ZM18.9875 4.2125C18.0625 4.2125 17.3075 4.965 17.3075 5.8925C17.3075 6.8175 18.06 7.5725 18.9875 7.5725C19.9125 7.5725 20.6675 6.82 20.6675 5.8925C20.6675 4.965 19.9125 4.2125 18.9875 4.2125Z"/></svg></a></div>
                    <div style="cursor: default;" title="Very good (5 star)">
                        <svg style="cursor: default;" width="25" height="25" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <circle style="cursor: default;" cx="25" cy="25" r="25" fill="#0D0D0D"/>
                            <circle style="cursor: default;" cx="6.57895" cy="6.57895" r="6.57895" fill="white"/>
                            <circle style="cursor: default;" cx="6.57895" cy="25.0001" r="6.57895" fill="#FF9500"/>
                            <circle style="cursor: default;" cx="6.57895" cy="43.421" r="6.57895" fill="#FF9500"/>
                            <circle style="cursor: default;" cx="25" cy="6.57895" r="6.57895" fill="#FF9500"/>
                            <circle style="cursor: default;" cx="25" cy="25.0001" r="6.57895" fill="#FF9500"/>
                            <circle style="cursor: default;" cx="25" cy="43.421" r="6.57895" fill="white"/>
                            <circle style="cursor: default;" cx="43.4211" cy="6.57895" r="6.57895" fill="white"/>
                            <circle style="cursor: default;" cx="43.4211" cy="25.0001" r="6.57895" fill="#FF9500"/>
                            <circle style="cursor: default;" cx="43.4211" cy="43.421" r="6.57895" fill="#FF9500"/>
                        </svg>
                    </div>
                </di>
            </div>
        </div>
    </div>
</section>
<section class="info-generate">
    <h2>Generate color palette</h2>
    <br>
    <p>Do you have a design that needs color? Very simple only 3 steps!</p>
    <br>
    <div class="step">
        <p><b>Step one, select your main color</b></p>
        <div>
            <img src="/images/generate_1.png" width="50%" alt="Generate example 1">
            <p>By clicking on the orange square you can choose one of 10 million colors, you can also enter hex, rgb, and hsl codes.<br><br>Too much choices? Just click on the word "Surprise me" and Anraw instantly picks you a random color.</p>
        </div>
    </div>
    <br>
    <br>
    <div class="step">
        <p><b>Step two, select how many colors you want</b></p>
        <div>
            <p>Just by clicking on the number you choose, Anraw instantly uses color theory to choose the best combination for you.<br><br>Don't know how much you need? Just click on the word "It's up to you" and Anraw will pick the number at random.</p>
            <img src="/images/generate_2.png" width="50%" alt="Generate example 2">
        </div>
    </div>
    <br>
    <br>
    <div class="step">
        <p><b>Step three, finishing your choice</b></p>
        <div>
            <img src="/images/generate_3.png" width="50%" alt="Generate example 3">
            <p>In finishing you can add more colors, edit colors, adjust position of the color, shuffle colors, and delete color.<br><br>For more tutorial you can visit public relations in the end of this page or just click <a href="/pr/tutorial/generate" onclick="outros()">this</a>.</p>
        </div>
    </div>
    <br>
    <br>
    <div class="step">
        <p>Interested? Try making one!</p>
        <br>
        <a href="/generate" onclick="outros()"><button class="button button-cta">Generate color palette</button></a>
    </div>
</section>
<section class="info-save">
    <h2>Use Anraw code</h2>
    <br>
    <div class="DIS">
        <p>Do you have any Anraw code? They are very easy to find in posts like that.<br>You can find it in <a href="https://www.instagram.com/explore/tags/anraw" target="blank">Instagram</a> or exactly at <a href="https://instagram.com/anraw_palette" target="blank">Anraw Instagram account</a>.<br>If you have one, you can enter it below!</p>
        <img src="/images/anraw_code.png" width="25%" alt="Anraw code example">
    </div>
    <br>
    <div>
        <input type="text" placeholder="5#ffffff#00ff95#ff9500#9500ff#0d0d0d" id="anrawCodeLP">
        <button class="button button-cta" aria-label="Center Align" onclick="setAnrawCode()"><svg xmlns="http://www.w3.org/2000/svg" height="25px" viewBox="0 0 25 25" width="25px" fill="var(--background-white)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 4l-1.41 1.41L16.17 11H4v2h12.17l-5.58 5.59L12 20l8-8-8-8z"/></svg></button>
        <p id="errorCodeLP"></p>
    </div>
</section>
<section class="info-gallery">
    <h2>Find inspiration</h2>
    <br>
    <img src="/images/gallery.png" width="100%" alt="Gallery example">
    <br>
    <br>
    <p>Running out of inspiration? Just visit the gallery, inside there are many color palettes created by other people and created automatically by Anraw, just click the button below!</p>
    <br>
    <a href="/gallery" onclick="outros()"><button class="button button-cta">Find inspiration</button></a>
</section>
<section class="pr">
    <h2><a href="/pr" style="text-decoration: none; cursor: pointer; color: var(--font-color);" onclick="outros()">Public relations</a></h2>
    <br>
    <div class="options">
        <div>
            <p><b>Give</b><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px" fill="var(--background-orange)"><g><rect fill="none" height="24" width="24"/></g><g><g><g><g><path d="M16,13c3.09-2.81,6-5.44,6-7.7C22,3.45,20.55,2,18.7,2c-1.04,0-2.05,0.49-2.7,1.25C15.34,2.49,14.34,2,13.3,2 C11.45,2,10,3.45,10,5.3C10,7.56,12.91,10.19,16,13z M13.3,4c0.44,0,0.89,0.21,1.18,0.55L16,6.34l1.52-1.79 C17.81,4.21,18.26,4,18.7,4C19.44,4,20,4.56,20,5.3c0,1.12-2.04,3.17-4,4.99c-1.96-1.82-4-3.88-4-4.99C12,4.56,12.56,4,13.3,4z"/><path d="M19,16h-2c0-1.2-0.75-2.28-1.87-2.7L8.97,11H1v11h6v-1.44l7,1.94l8-2.5v-1C22,17.34,20.66,16,19,16z M3,20v-7h2v7H3z M13.97,20.41L7,18.48V13h1.61l5.82,2.17C14.77,15.3,15,15.63,15,16c0,0-1.99-0.05-2.3-0.15l-2.38-0.79l-0.63,1.9l2.38,0.79 c0.51,0.17,1.04,0.26,1.58,0.26H19c0.39,0,0.74,0.23,0.9,0.56L13.97,20.41z"/></g></g></g></g></svg></p>
            <a href="/pr/give/message" onclick="outros()">
                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 24 24" width="50px" fill="var(--background-green)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 6c0-1.1-.9-2-2-2H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6zm-2 0l-8 5-8-5h16zm0 12H4V8l8 5 8-5v10z"/></svg>
                <p>Message</p>
            </a>
            <a href="/pr/give/review" onclick="outros()">
                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 24 24" width="50px" fill="var(--background-green)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M22 9.24l-7.19-.62L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21 12 17.27 18.18 21l-1.63-7.03L22 9.24zM12 15.4l-3.76 2.27 1-4.28-3.32-2.88 4.38-.38L12 6.1l1.71 4.04 4.38.38-3.32 2.88 1 4.28L12 15.4z"/></svg>
                <p>Review</p>
            </a>
            <a href="/pr/give/suggestion" onclick="outros()">
                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 24 24" width="50px" fill="var(--background-green)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.47 2 12s4.47 10 9.99 10S22 17.53 22 12 17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm1-10.06L14.06 11l1.06-1.06L16.18 11l1.06-1.06-2.12-2.12L13 9.94zm-4.12 0L9.94 11 11 9.94 8.88 7.82 6.76 9.94 7.82 11l1.06-1.06zM12 17.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/></svg>
                <p>Suggestion</p>
            </a>
        </div>
        <div>
            <p><b>Report</b><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="var(--background-orange)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.73 3H8.27L3 8.27v7.46L8.27 21h7.46L21 15.73V8.27L15.73 3zM19 14.9L14.9 19H9.1L5 14.9V9.1L9.1 5h5.8L19 9.1v5.8z"/><circle cx="12" cy="16" r="1"/><path d="M11 7h2v7h-2z"/></svg></p>
            <a href="/pr/report/bug" onclick="outros()">
                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 24 24" width="50px" fill="var(--background-purple)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M20 8h-2.81c-.45-.78-1.07-1.45-1.82-1.96L17 4.41 15.59 3l-2.17 2.17C12.96 5.06 12.49 5 12 5s-.96.06-1.41.17L8.41 3 7 4.41l1.62 1.63C7.88 6.55 7.26 7.22 6.81 8H4v2h2.09c-.05.33-.09.66-.09 1v1H4v2h2v1c0 .34.04.67.09 1H4v2h2.81c1.04 1.79 2.97 3 5.19 3s4.15-1.21 5.19-3H20v-2h-2.09c.05-.33.09-.66.09-1v-1h2v-2h-2v-1c0-.34-.04-.67-.09-1H20V8zm-4 4v3c0 .22-.03.47-.07.7l-.1.65-.37.65c-.72 1.24-2.04 2-3.46 2s-2.74-.77-3.46-2l-.37-.64-.1-.65C8.03 15.48 8 15.23 8 15v-4c0-.23.03-.48.07-.7l.1-.65.37-.65c.3-.52.72-.97 1.21-1.31l.57-.39.74-.18c.31-.08.63-.12.94-.12.32 0 .63.04.95.12l.68.16.61.42c.5.34.91.78 1.21 1.31l.38.65.1.65c.04.22.07.47.07.69v1zm-6 2h4v2h-4zm0-4h4v2h-4z"/></svg>
                <p>Bug</p>
            </a>
            <a href="/pr/report/dl" onclick="outros()">
                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 24 24" width="50px" fill="var(--background-purple)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 2.5c-2.33 0-4.31 1.46-5.11 3.5h10.22c-.8-2.04-2.78-3.5-5.11-3.5z"/></svg>
                <p>Disrespectful language</p>
            </a>
        </div>
        <div>
            <p><b>Tutorial</b><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="var(--background-orange)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M18 2H6c-1.1 0-2 .9-2 2v16c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zM9 4h2v5l-1-.75L9 9V4zm9 16H6V4h1v9l3-2.25L13 13V4h5v16z"/></svg></p>
            <a href="/pr/tutorial/generate" onclick="outros()">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="50px" viewBox="0 0 24 24" width="50px" fill="var(--background-orange)"><g><rect fill="none" height="24" width="24"/></g><g><g><g><g><path d="M12,22C6.49,22,2,17.51,2,12S6.49,2,12,2s10,4.04,10,9c0,3.31-2.69,6-6,6h-1.77c-0.28,0-0.5,0.22-0.5,0.5 c0,0.12,0.05,0.23,0.13,0.33c0.41,0.47,0.64,1.06,0.64,1.67C14.5,20.88,13.38,22,12,22z M12,4c-4.41,0-8,3.59-8,8s3.59,8,8,8 c0.28,0,0.5-0.22,0.5-0.5c0-0.16-0.08-0.28-0.14-0.35c-0.41-0.46-0.63-1.05-0.63-1.65c0-1.38,1.12-2.5,2.5-2.5H16 c2.21,0,4-1.79,4-4C20,7.14,16.41,4,12,4z"/><circle cx="6.5" cy="11.5" r="1.5"/><circle cx="9.5" cy="7.5" r="1.5"/><circle cx="14.5" cy="7.5" r="1.5"/><circle cx="17.5" cy="11.5" r="1.5"/></g></g></g></g></svg>
                <p>Generating palette</p>
            </a>
            <a href="/pr/tutorial/save" onclick="outros()">
                <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="50px" viewBox="0 0 24 24" width="50px" fill="var(--background-orange)"><g><rect fill="none" height="24" width="24"/></g><g><path d="M18,15v3H6v-3H4v3c0,1.1,0.9,2,2,2h12c1.1,0,2-0.9,2-2v-3H18z M17,11l-1.41-1.41L13,12.17V4h-2v8.17L8.41,9.59L7,11l5,5 L17,11z"/></g></svg>
                <p>Saving palette</p>
            </a>
            <a href="/pr/tutorial/post" onclick="outros()">
                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 24 24" width="50px" fill="var(--background-orange)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M19.35 10.04C18.67 6.59 15.64 4 12 4 9.11 4 6.6 5.64 5.35 8.04 2.34 8.36 0 10.91 0 14c0 3.31 2.69 6 6 6h13c2.76 0 5-2.24 5-5 0-2.64-2.05-4.78-4.65-4.96zM19 18H6c-2.21 0-4-1.79-4-4 0-2.05 1.53-3.76 3.56-3.97l1.07-.11.5-.95C8.08 7.14 9.94 6 12 6c2.62 0 4.88 1.86 5.39 4.43l.3 1.5 1.53.11c1.56.1 2.78 1.41 2.78 2.96 0 1.65-1.35 3-3 3zM8 13h2.55v3h2.9v-3H16l-4-4z"/></svg>
                <p>Posting palette</p>
            </a>
            <a href="/pr/tutorial/gallery" onclick="outros()">
                <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 0 24 24" width="50px" fill="var(--background-orange)"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
                <p>Searching palette</p>
            </a>
        </div>
    </div>
</section>
<%- include('./partials/footer.ejs') %>