<header>
    <h2>Preview</h2>
    <p>Done</p>
</header>
<h3>Save style</h3>
<ul>
    <li>Copy color code</li>
    <li>Instagram post</li>
    <li>PDF file</li>
    <li>Image</li>
    <li>Print</li>
</ul>
<h3>Setting</h3>
<p>Background</p>
<input type="radio" name="Background" id="Dark" value="0">
<label for="Dark">Dark</label>
<input type="radio" name="Background" id="Light" value="1">
<label for="Light">Light</label>
<h2>Share to <a href="../gallery">Gallery</a>?</h2>
<p>Hey there! Do you want to share your color palette on the Gallery?<br>
    It would be great if other people saw your amazing palette<br>
    <br>
    Others can also save your pallete<br>
    Even following your social media, in one condition
</p>
<p>The condition is... you must pay to link your social media :)</p>
<a href="../gallery">Maybe later</a>
<a href="../post/<%= generate.id %>">Sure</a>