.generate svg, .generate path, .generate g, .generate circle{
    cursor: pointer;
}

.generate .section{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.generate .section:nth-child(1){
    margin-top: -50px;
}

.generate h2{
    font-size: var(--title-font-size);
    text-align: center;
}

.generate .background-ball{
    border-radius: 50%;
    filter: blur(5px);
    position: fixed;
    z-index: -1;
    transition: 1s ease-in-out;
}

.generate .input-color{
    width: 150px;
    height: 150px;
    border-radius: 25px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: var(--margin-super);
    transition: 0.5s;
    position: relative;
}

.generate .finish-color .input-color div,.generate .finish-color .input-color + .color-setting ,.generate .finish-color #finishInput div, .generate .finish-color #finishInput + .color-setting{
    opacity: 0%;
    transition: 0.5s;
}

.generate .input-color:hover{
    transform: translateY(-25px);
    box-shadow: 0px 5px 10px var(--background-white);
}

.generate .finish-color:hover .input-color div, .generate .finish-color:hover .input-color + .color-setting, .generate .finish-color:hover #finishInput div, .generate .finish-color:hover #finishInput + .color-setting{
    opacity: 100%;
}

.generate .input-color input{
    width: 175px;
    height: 175px;
    cursor: pointer;
    transform: translate(-12.5px, -12.5px);
    background: none;
    border: none;
}

.generate .Pmain-color{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: var(--margin-super);
}

.generate .Pmain-color .Pinput{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.generate .Pmain-color .input{
    display: flex;
}

.generate .basic-input{
    height: 25px;
    margin: calc(var(--margin-small) / 2);
    border-radius: 25px;
    border: none;
    padding: 0px 6.25px;
    cursor: text;
    text-align: center;
    font-size: var(--lessreadble-font-size);
}

.generate .large-input {
    width: 100%;
}

.generate .small-input{
    width: 75px;
}

.generate .random{
    font-size: var(--lessreadble-font-size);
    text-align: center;
    transition: 0.25s;
}

.generate .random:hover{
    letter-spacing: 2.5px;
}

.generate .random b{
    cursor: pointer;
}

.generate .Pradio{
    display: flex;
    justify-content: center;
    margin-top: var(--margin-super);
}

.generate .section input[type = radio]{
    display: none;
}

.generate .radio-label{
    width: 150px;
    height: 150px;
    border-radius: 25px;
    background: var(--background-white);
    margin: var(--margin-small);
    font-size: 96px;
    color: var(--background-orange);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s;
}

.generate .radio-label:hover{
    background: var(--background-orange);
    color: var(--background-white);
}

.generate .section input[type = radio]:checked + label .radio-label{
    color: var(--background-white);
    background: var(--background-orange);
}

.generate #colorAmount{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: var(--background-white);
    border-radius: 25px;
    margin: var(--margin-small);
}

.generate #colorAmount .color{
    width: 50px;
    height: 50px;
    border-radius: 25px;
    margin: calc(var(--margin-small) / 2);
}

.generate #finishInput{
    width: 150px;
    height: 150px;
    border-radius: 25px;
    overflow: hidden;
    flex-shrink: 0;
    background: #ff9500;
}

.generate #allColor{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: var(--margin-super) 0px;
}

.generate #allColor div{
    margin: calc(var(--margin-small) / 2);
}

.generate #allColor div div div{
    margin: 0px;
}

.generate #allColor div input[type = checkbox]{
    display: none;
}

.generate #allColor div input[type = checkbox]:checked + label .button-lcta-ball{
    background: var(--background-orange);
}

.generate .color-setting{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.generate .finish{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.generate .controler{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 25px;
}