header{
    width: calc(100vw - 12.5px);
    top: 0;
    left: 0;
    position: sticky;
    background: var(--background);
    border-bottom: 1px solid var(--background-orange);
    padding: 25px 12.5px;
    margin: -50px 0 var(--margin-super) -50px;
}

.header-title{
    color: var(--highlight-font-color);
    text-decoration: none;
    font-size: var(--title-font-size);
    font-weight: bold;
    margin: 0px var(--margin-small);
    cursor: pointer;
}

.header-title:hover{
    color: var(--highlight-font-color-hover);
}

.main-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header ul{
    display: flex;
}

.header li{
    list-style: none;
}

.header li a{
    color: var(--font-color);
    text-decoration: none;
    margin: 0px var(--margin-small);
}